comunicacao {
  width: 100vw;
  height: 50vh;
  display: relative;
  align-items: center;
  justify-content: center;
  background:url("/i.jpg");
  overflow: hidden;
}
.card_comunicacao {
  display: grid;
  /*grid-template-columns: 200px;*/
  grid-template-rows: 110px 110px 100px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 11px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card-image_comunicacao {
  grid-area: image;
  background: url(https://lh3.googleusercontent.com/XkW4GGSQHpUNblmUTNA4KJjSPKTKt2OtekbfeL95YcBvkEz9hEhHWKq6DWf7sKxnCv5gFSg_WJaLr_3xAHe798phbkp0O4SkRf28ShFJV-AXiJFEKW1b0wXZQL2MSAij6qOmjaIyjUuv-spFqHJ6wd9bRqLLQa4g7pyMlZY3RLpAQqx3IOTXkUkUcJqe6Vmln3roB8IoHaxHwz0zrKEImkaAp_fDfsbL5qVDh58X5mKiqGhj9cF4s3TmQaR2vyXG2ahPtr4B7Kqvippq0FbrRi1DonEsaWwTTrjb1Ui8ohHGmbGXHEIrhVD46K5Y-VtZIzbBP8YHEtPyRK-oOnZRIqSev0fKsLAfO1-1bsfUh9p1iwdVnwpxPLnjQAF-j10FmDq9orBR4HNjqV-gclQNPuBEDAZuVXb4PVQ4UQWz6gYxvlwok6PzYsgiGaOQk_i0Ts3wcsmcTq2RSa_krnQbHo0PUgESnq133WBF6EkO9enT0x_YB_8pXMtG0nIgMtGID_sWwgfJvQGfaAxSSsRvubCkio9RzNTSlXzne9_QRvLEImRUrNaYdLoqmhHEmSli-C711SXUX_3c9Xk05e5teJZ1N0QzLTZNVQQxMjC-x_FXnKvzgWm1xYQL1ocISC2VBNtEcREePOGv63Hurl0JKMMkEP_v-BjHo53GFtHZgs9VPMOUZEKq2K4FRf184mvwDWz65Kah9vdRfYe7s5hpqpytTA=w250-h239-no?authuser=0);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text_comunicacao {
  grid-area: text;
  margin: 30spx;
}
.card-text_comunicacao .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text_comunicacao p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text_comunicacao h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats_comunicacao {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats_comunicacao .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats_comunicacao .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats_comunicacao .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats_comunicacao .value sup{
  font-size:12px;
}
.card-stats_comunicacao .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card_comunicacao:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image_comunicacao.card2 {
  background: url(https://lh3.googleusercontent.com/2SYhQH2PWLojL5Qh7YHg3oaMDB2O-G7Ob4eMPR_1cvyPhDmcQQWU5ntZe6jFdnrzN1FYhzAjJkMuiMQk9UMdC91WSSp7LlwJrptPw1yg--lfEh_Gr7p2CoZaAUW7Gc39Nv9pbFYaPSRGUEWLsI6iuT6y-3Ma5zxJ4huQ9bAwPntj_YLhmezthOIHdac-xueDxKhBp1y8yRhjDejzcMoMhhnqgGjlwKVUpvJJDv5n3fSTqYaWJUYzZQzfXvGBfhgShBFM6KjmeqZcQ5rcAE_IypY7KMUVe_AHZrrlJfH5EuAVzy6Jk-IfM2Pm7skVBHJQW-w2iPJkrmWbkEoQLqbnKq8ENKO6Qs6d-keF-1jGOf8HlcWH4w20WDvuJYUknXy1np7Pjf6d1FDEX8v6sUSn1yGbYImgaIErzuLCKdwFUdOjyow7AHnkgGSVlyi6UU9wyMXh7gES1EDhNb8JE75KTtqdjY5R8SH2JHOPzy97YBhmKM-c5Wq5FCQ8qIZ6pEP9upL12Pofti0CBsK6Y5rzTTyW1fHHbXRwoFjxhMzEhmw3tYDRd1FSEhNKXlsxr_qhjh_djxBdcFUPJy0c2ACAlD06GuoXYQ-CgjFCeSzWrK4yajsyNbKSNmhvoFqizHkZatZjUkk_tu3Sa_JoIMvYV1lxbaNXA-0sKD637FzIbsmLn2qrkUvn2YrN59z8d7hQ2RpRoZMb-B_pw42X5UQzxDONyQ=w250-h238-no?authuser=0);
  background-size: cover;
}
.card-text_comunicacao.card2 .date {
  color: rgb(255, 77, 7);
}
.card-stats_comunicacao.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}
.card-stats_comunicacao.card2 {
  background: rgb(255, 77, 7);
}
/*card3*/
.card-image_comunicacao.card3 {
  background: url(https://lh3.googleusercontent.com/Hh01eD1uqsstELvMVBvMmO0CAA-oB_AgC42u48fIiGbCTPXqQKo2Gc1aADE0GLBwiPUKYuOfcr68UT8-9dssyPqUO-svF1UQmtIOTDpbB06S2WHT2kKJHb67J92iB27EgiqZ1wQd9kkMLweDU8sMW0t-aZ4jD2UWq5hVeKPmPwQCdtUWeQPZ7Q8-TsUxZwjKl--z-VwRPKdobfAdHjxtJLzlQoxflxkEbVbFCmp_FP9-BTlZSVozVtsZ_kna3C0ZaAi-dI8IoqMNMugkFfig09NmsNf9aQp5QCVWE_oQ2uRe2CBuBKJwWcGK_zW7ASjhOAh46K2e44USvcSbeDZmE5-rZwtNiyNDDlaZo03YxrO0CaHZ158FvPizA4Tl3hK73RC9OKj-WlvpCWpT8wAHab6hBf34XaBCR-cZczdUKfHV64Gl1VlNUJP4tq4d8aXx4WUYzFi7HM2Utku5hnJbu7o81vFMG8BJk3JqszOzJtN0bsnRBFee_cGvZsaXNZaQ4s_GM8GAr4ZUaJ3jZ2eKo5PBfZUN6nO7Kq3596LMa5qtTOf4cX10i8MZ9nl5wIcun1_LJ3qjIMUH6fgN7PqvdsYJW2padXBXEAdeqLk9p-_rbPOe06Dm0oj5E5BduMRYUj-tazaydAe3rEVw6UI_WZ1EAreBI3N3z8VkTTcSRZkpIOKfwzJWfAK1Szset1tHu9oQPRKjPNyd8JCrgp_OWrKlLw=w250-h234-no?authuser=0);
  background-size: cover;
}
.card-text_comunicacao.card3 .date {
  color: rgb(0, 189, 63);
}
.card-stats_comunicacao.card3 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats_comunicacao.card3 {
  background: rgb(0, 189, 63);
}/*card4*/
.card-image_comunicacao.card4 {
  background: url(https://lh3.googleusercontent.com/Hh01eD1uqsstELvMVBvMmO0CAA-oB_AgC42u48fIiGbCTPXqQKo2Gc1aADE0GLBwiPUKYuOfcr68UT8-9dssyPqUO-svF1UQmtIOTDpbB06S2WHT2kKJHb67J92iB27EgiqZ1wQd9kkMLweDU8sMW0t-aZ4jD2UWq5hVeKPmPwQCdtUWeQPZ7Q8-TsUxZwjKl--z-VwRPKdobfAdHjxtJLzlQoxflxkEbVbFCmp_FP9-BTlZSVozVtsZ_kna3C0ZaAi-dI8IoqMNMugkFfig09NmsNf9aQp5QCVWE_oQ2uRe2CBuBKJwWcGK_zW7ASjhOAh46K2e44USvcSbeDZmE5-rZwtNiyNDDlaZo03YxrO0CaHZ158FvPizA4Tl3hK73RC9OKj-WlvpCWpT8wAHab6hBf34XaBCR-cZczdUKfHV64Gl1VlNUJP4tq4d8aXx4WUYzFi7HM2Utku5hnJbu7o81vFMG8BJk3JqszOzJtN0bsnRBFee_cGvZsaXNZaQ4s_GM8GAr4ZUaJ3jZ2eKo5PBfZUN6nO7Kq3596LMa5qtTOf4cX10i8MZ9nl5wIcun1_LJ3qjIMUH6fgN7PqvdsYJW2padXBXEAdeqLk9p-_rbPOe06Dm0oj5E5BduMRYUj-tazaydAe3rEVw6UI_WZ1EAreBI3N3z8VkTTcSRZkpIOKfwzJWfAK1Szset1tHu9oQPRKjPNyd8JCrgp_OWrKlLw=w250-h234-no?authuser=0);
  background-size: cover;
}
.card-text_comunicacao.card4 .date {
  color: rgb(0, 189, 63);
}
.card-stats_comunicacao.card4 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats_comunicacao.card4 {
  background: rgb(0, 189, 63);
}