
comunicacao {
    width: 100vw;
    height: 60vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background:url('http://rbprev.riobranco.ac.gov.br/images/IconsIndex/background_canais.png');
    overflow: hidden;
}
.card_comunicacao {
    display: grid;
    /*grid-template-columns: 200px;*/

    grid-template-rows: 200px 110px 70px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: "Asap", "Arial";
    text-align: center;


    transition: 0.5s ease;
    cursor: pointer;
    margin:10px;
}
.card-image_comunicacao {
    grid-area: image;
    background:url('http://rbprev.riobranco.ac.gov.br/images/IconsIndex/phone.png') no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center; 
}

.card-text_comunicacao {
    grid-area: text;
    margin: 30spx;
}
.card-text_comunicacao .date {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card-text_comunicacao p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}
.card-text_comunicacao h2 {
    margin-top:0px;
    font-size:28px;
}
.card-stats_comunicacao {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(255, 7, 110);
}
.card-stats_comunicacao .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.card-stats_comunicacao .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
}
.card-stats_comunicacao .value{
    font-size:22px;
    font-weight: 500;
}
.card-stats_comunicacao .value sup{
    font-size:12px;
}
.card-stats_comunicacao .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
}
.card_comunicacao:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image_comunicacao.card2 {
    background:url('http://rbprev.riobranco.ac.gov.br/images/IconsIndex/qustions.png') no-repeat;
    background-position: center;    

}
.card-text_comunicacao.card2 .date {
    color: rgb(255, 77, 7);
}
.card-stats_comunicacao.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
}
.card-stats_comunicacao.card2 {
    background: rgb(255, 77, 7);
}
/*card3*/
.card-image_comunicacao.card3 {

    background:url('http://rbprev.riobranco.ac.gov.br/images/IconsIndex/Group%201%20(23).png') no-repeat;
    background-position: center; 
}
.card-text_comunicacao.card3 .date {
    color: rgb(0, 189, 63);
}
.card-stats_comunicacao.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
}
.card-stats_comunicacao.card3 {
    background: rgb(0, 189, 63);
}/*card4*/
.card-image_comunicacao.card4 {
    background:url('http://rbprev.riobranco.ac.gov.br/images/IconsIndex/reque.png') no-repeat;
    background-position: center; 
}
.card-text_comunicacao.card4 .date {
    color: rgb(0, 189, 63);
}
.card-stats_comunicacao.card4 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
}
.card-stats_comunicacao.card4 {
    background: rgb(0, 189, 63);
}
