@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}



.page-contents {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-contents {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-contents {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .cards {
    height: 200px;  
  }
}
.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.cards:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.cards:nth-child(1):before {
  background-image: url(https://lh3.googleusercontent.com/gvxrB4NIOkbZ9rD3exDDU8Qu2UyFn7QDZFvkMb9gm8f8dVwzmzzfuUsYxZ5t91jEkWrGlbpJcHOSOh32OCrs0qoSXqsSnvsRTxwBdD2mbFVryy5qI-enWtwR80q63-i72vrR3s2jc69uuYf1Z7JuH4rZ5EBVwI22MPJmtzoauxUwfaie5nHgsuXk3qcYQ0jFlHPnQQHpXg49-AIik0-PCEeh898se0AfH6eCI1RSTCovx42MCqvJvJ9_SpWjFwlUxbDRjiHNr8c6nC7CUOyTxMZs2YnaOGQy_1ZTFYk19sNyHpUlx8aeSNOu53Ws0AfB_y4WbXmaaOiK35Lpakjd3yg-osqNWzVWHWwCQpRRM63TXqzPSnQEGY7eRbZaRXQn357AnTGYQ7uI8qY2H9CX998-FRslKlMNW-kLUi83VjRc_DsjqKzbsur2sHHg8pZ9yfoPd52Z_zHIp51JqC77VwA6ZWPGGQHP7TsGTyWzrnNk322jQM5zq-B9tnhxF4SledwjDpVG7D3mSKoRrm9wRLunQ9hUKPfZ_1BfWbPDX2ksFOFaCJOdCmrAM8n5sFrsaWxe1xQHvEFMhSNDouFru76dlQSmtmDMkOKZOy_rCDeNbHoakpbEwxiIOt4a09aZp-32nNpMnLoyafZrKiSSRoFgwThyb9aWZsa8K07fSJeD65VJ-WEn9dYXC1GZxXGXTFuaXeCSu6NcsQ21A-zPeABpaw=s240-no?authuser=0);
}
.cards:nth-child(2):before {
  background-image: url(https://lh3.googleusercontent.com/I6rPe3a87Zd3DC3KxjKjOGkGQLPMmPnNleh4Dc4OFEjucpOSjVNVkMqjjC2k4X_i34hFTop9TUfH9SkkSunOOktxpEWRQFA2Vf0ZyViFgjOI5b7PGdtU_nlrwg_cnZInsIig9lh8MEudUXuZT8ENw1ozzCGwTDD0eI3xNov-h78OhNXHk1ZhDP6_9wbWFW5tV6gFcH7O9WfvfmqGufQGkfI2MxMIXvatf7s65faDzlZ85EUWYvjRgSYO8i618JOsVuyeu1-TLEQl9V4-20gtRzOhrhPyjI4v5TOGEynalA1tQcJm1-wRhKBdGaNcmWACdSjhWlcXyx4gGbwrNEDiP5Kftjzv3vhtemCQjd5MsCDVq61RB61m2sd3zrFoZo0ipaTNeXImjJN8Y5uP8vGca8uys4suqFSn1i2U8KBX8CTFT19hgXJ3YZkp58_85CTI0skXTh02JAxWzGgpd2HnOjwmWb-tQ7s36eI91LVxIumIA6mbOgqaSMoo1DABUVxt2lwBPG2WcGd8woJlUCR3MskuGiEa3yCYXqeBiUfuu8Jws7em8sXthMHeAsDehX3mpPBcipz-nBs3QHRET52Dz2dA0BNMfwEjt7Ic8cILfEHEdN7uV-tEx24HYEuPpfG-VPws53BsZ7IWFoDXB06ZAUJWQ2TLeCHL59UaZmi9D_ABaIahwWakHqxK34YMsOl0r3ELoSh4gPMbEjzlPpnxRDU1Zw=s240-no?authuser=0);
}
.cards:nth-child(3):before {
  background-image: url(https://lh3.googleusercontent.com/tgzp7k8evojVYNvhk9D-60WOasVX67FFw6UVhP-6qLsnsx06sBz7P9tVejFexn4DrFeMD3ryAsx00CgTB0X9vUEUENRAK1n3eZi3Typfv_2AhcpdwCD5Mv_BUkPbfPjWQZOPZLvVwWvGnw31aAFOj7sXEkg32FqDnpycacOqq10iArw9-Qv6dftu5dcPLfELSBevGSEHK5ATlLh8VoM4YR_JQr6dSK6DdExB_osM8DcY6j4KmZYtKpLHP3uFFW1NOVOgCj-FG1RoWYTOCGz8ysw79i8JqfyRcJLFX1lOozawTCpIHxbO-F-3UKb_A0h8JN6F59BiKA0TnWDcM9irO8WkNkgQxjFJBZnvNiH_5edtk5nukbET-ZbKs97PPM6ZsWNb64e6gRNgMG2elVv9XDBFQ53iCEWRu-6_zqx6dNkC4CA0lPnpSODvNumlagG61iY1NOnEa0bNuLWeA08NnBgpounZ4xraafgoAhlhRdMQsNtqwmQ4CuWs3I6X2Ze9Jr0MxHiZMvNelJbc11Z_6FIvSVEKofZLKaCNalgEPyoJg1bbdNxXXw4yg__fj-2JHa5u203zs1VqpdqUUUj7G3q044mDrYiuC7iafgr11ZXefySgD25xpCNFaoALXUBmj9XFaFCa0iFYNESaboOAF1rWT6kY_yDvNZ_LllgJscktYXqEux-2YXGiPyVBe9lUhmVwO5LT5m-zWVfMSpV-BKwaFA=s240-no?authuser=0);
}
.cards:nth-child(4):before {
  background-image: url(https://lh3.googleusercontent.com/_VJn9hZE1HwgkQHFLlkpDLC_ZO-6J-fNJQFL9RLTB3DXFLWqYHSN2ZXdr3Zv7nvqrx2qVDT91_hl-4PKwW9eL67wv6e_wdvkXY0zk1BvrKr6HWUZDZDcsUeIQm98AE03qLM-sH3yS5rGH8L2aAvTHLCbXnuYQOCZOHhdSUCKuEkHnAGILV_ApKD-HdBLeDxti3ZuBM_cwbfoGSdQznz-i0RxxTn1Z1WpB1NQnNTpkz_jyRG1MBerW6MDIrkrR6v1bwcu_88UFLJdDaoylM-PRn8A6fqOauc2_Bt9qg0qUrGbtEyTQw07hafKy7_gesXESkYn426tFQ4AoOsnQ2uj-A_hcdHyUiNypm0cCXBbXrESteXfBJhR4ZRnQ5rYtxz3Ln-bl7pQbJl12rNTR5Khi8V4FMV6isfySrIpUqVq4lZi-yjl61IMtDD3hie3grExi-ufEH-iuJnv5OaT_6j5I6XGMtzhXbm_u8tfYgSCooo5omgJoAKkWdh82NVHehY2vIpj4OxCUPE0rwf-4fKwqd2XpEebDqLamBzRiETJwaXji_7U_0xaMNZTXrmq7iUto_pKtKwmopoCUDfOGnIJHTWbSVQACUYYKH5IylOUX3QmA27HaTvqfmis-t2ce2wtaEGUWN7I6-yTb3FCLt2f6mqOEB9IRQ6DCd3ugDk2105ZY-q_3u1C856xs7jrUQxoY12fzilA2u4tyjNmpyAKOEmBmw=s240-no?authuser=0);
}

.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.contents > * + * {
  margin-top: 1rem;
}

.titles {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copys {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btns {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #3fa9fd;
  border: none;
}
.btns:hover {
  background-color: #3fa9fd;
}
.btns:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .cards:after {
    transform: translateY(0);
  }

  .contents {
    transform: translateY(calc(100% - 4.5rem));
  }
  .contents > *:not(.titles) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .cards:hover,
.cards:focus-within {
    align-items: center;
  }
  .cards:hover:before,
.cards:focus-within:before {
    transform: translateY(-4%);
  }
  .cards:hover:after,
.cards:focus-within:after {
    transform: translateY(-50%);
  }
  .cards:hover .contents,
.cards:focus-within .contents {
    transform: translateY(0);
  }
  .cards:hover .contents > *:not(.titles),
.cards:focus-within .contents > *:not(.titles) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .cards:focus-within:before, .cards:focus-within:after,
.cards:focus-within .contents,
.cards:focus-within .contents > *:not(.titles) {
    transition-duration: 0s;
  }
}